@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap"); // p
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); // span
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap"); // h2
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap"); // h1 title

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding: 2rem;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

h2,
p {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1.8rem;
}

h1,
h2 {
  background: transparent !important;
}

h1 {
  font-size: min(6vw, 3rem);
  font-family: "Bruno Ace", cursive;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: "Exo 2", sans-serif;
}

p {
  font-family: "Dosis", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background-color: unset;
}

span,
label {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-family: "Bebas Neue", sans-serif;
}

.page {
  min-height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
}

header,
form,
footer {
  background-color: white;
}

header,
main,
section,
footer {
  width: 100%;
  position: relative;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: calc(var(--padding) / 4) 1rem 0;

  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgb(255, 255, 255, 0.98);
  box-shadow: 0 0 0.5rem 0.1rem rgb(0, 0, 0, 0.2);

  button {
    margin-bottom: 0.5rem;
  }

  bottom: 0;
  z-index: 1;
  position: sticky;
}

main {
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: var(--padding);
  padding-top: 0;
}

.svg-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

  svg {
    top: 50%;
    left: 50%;
    width: 280vh;
    height: auto;
    display: flex;
    position: absolute;
    transform: translate(-50%, -42.5%);

    fill: rgba(230, 217, 173, 0.2);
  }
}

form {
  width: 100%;
  padding: var(--padding);

  top: 0;
  z-index: 1;
  position: sticky;
  background-color: rgb(255, 255, 255, 0.98);
}

label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0 1rem;
  width: min(100%, 60rem);
  padding: calc(var(--padding) - 1.5rem);
}

.search-results {
  display: grid;
  padding: var(--padding);
  padding-top: 0;
}

.fault-card {
  margin: 1rem 0;
  width: min(100%, 80rem);
  padding: calc(var(--padding) / 2);
  justify-self: center;

  background-color: rgb(173, 216, 230, 0.8);

  &__item {
    margin: 2rem 0;

    gap: 0.5rem;
    display: grid;

    > div {
      display: flex;
      align-items: center;
      background-color: whitesmoke;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  }
}

.tag {
  min-width: 12rem;
  padding: calc(var(--padding) / 4);

  border-radius: 0.5rem;

  gap: 0.5rem;
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
  color: whitesmoke;
  background-color: darkslategrey;
}

/* Dark Color Theme */
.theme--dark {
  color: whitesmoke;
  background: black;
}

.fault-card {
  &__item {
    .theme--dark {
      background-color: black !important;
    }
  }
}
